In [1]:
import pandas as pd
import sqlite3

def run_query(q):
    with sqlite3.connect('mlb.db') as conn:
        return pd.read_sql(q, conn)
def run_command(c):
    with sqlite3.connect('mlb.db') as conn:
        conn.execute('PRAGMA foreign_keys = ON;')
        conn.isolation_level = None
        conn.execute(c)
def show_tables():
    q = "SELECT name, type FROM sqlite_master WHERE type IN ('table','view');"
    print(run_query(q))
show_tables()
conn = sqlite3.connect("mlb.db")
game_log = pd.read_csv('game_log.csv')
park_codes = pd.read_csv('park_codes.csv')
team_codes = pd.read_csv('team_codes.csv')
person_codes = pd.read_csv('person_codes.csv')

               name   type
0            person  table
1              park  table
2            league  table
3              game  table
4              team  table
5        game_stats  table
6    person_in_game  table
7          game_log  table
8        park_codes  table
9      person_codes  table
10       team_codes  table
11               at  table
12  appearance_type  table

/dataquest/system/env/python3/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (12,13,14,15,19,20,81,82,83,84,85,86,87,88,93,94,95,96,97,98,99,100,105,106,108,109,111,112,114,115,117,118,120,121,123,124,126,127,129,130,132,133,135,136,138,139,141,142,144,145,147,148,150,151,153,154,156,157,160) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [65]:
pd.set_option('max_columns',180)
pd.set_option('max_rows',200000)
pd.set_option('max_colwidth',5000)

print(game_log.shape,park_codes.shape,person_codes.shape,team_codes.shape)
print(game_log.head(),park_codes.head(),person_codes.head(),team_codes.head())
print(*game_log.columns, sep='\n')
print('park_codes',park_codes.columns)
print('person_codes',person_codes.columns)
print('team_codes',team_codes.columns)

!cat game_log_fields.txt

/dataquest/system/env/python3/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (12,13,14,15,19,20,81,82,83,84,85,86,87,88,93,94,95,96,97,98,99,100,105,106,108,109,111,112,114,115,117,118,120,121,123,124,126,127,129,130,132,133,135,136,138,139,141,142,144,145,147,148,150,151,153,154,156,157,160) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(171907, 161) (252, 9) (20494, 7) (150, 8)
       date  number_of_game day_of_week v_name v_league  v_game_number h_name  \
0  18710504               0         Thu    CL1      NaN              1    FW1
1  18710505               0         Fri    BS1      NaN              1    WS3
2  18710506               0         Sat    CL1      NaN              2    RC1
3  18710508               0         Mon    CL1      NaN              3    CH1
4  18710509               0         Tue    BS1      NaN              2    TRO

  h_league  h_game_number  v_score  h_score  length_outs day_night completion  \
0      NaN              1        0        2         54.0         D        NaN
1      NaN              1       20       18         54.0         D        NaN
2      NaN              1       12        4         54.0         D        NaN
3      NaN              1       12       14         54.0         D        NaN
4      NaN              1        9        5         54.0         D        NaN

  forefeit protest park_id  attendance  length_minutes v_line_score  \
0      NaN     NaN   FOR01       200.0           120.0    000000000
1      NaN     NaN   WAS01      5000.0           145.0    107000435
2      NaN     NaN   RCK01      1000.0           140.0    610020003
3      NaN     NaN   CHI01      5000.0           150.0    101403111
4      NaN     NaN   TRO01      3250.0           145.0    000002232

  h_line_score  v_at_bats  v_hits  v_doubles  v_triples  v_homeruns  v_rbi  \
0    010010000       30.0     4.0        1.0        0.0         0.0    0.0
1    640113030       41.0    13.0        1.0        2.0         0.0   13.0
2    010020100       49.0    11.0        1.0        1.0         0.0    8.0
3    077000000       46.0    15.0        2.0        1.0         2.0   10.0
4    101003000       46.0    17.0        4.0        1.0         0.0    6.0

   v_sacrifice_hits  v_sacrifice_flies  v_hit_by_pitch  v_walks  \
0               0.0                0.0             0.0      1.0
1               0.0                0.0             0.0     18.0
2               0.0                0.0             0.0      0.0
3               0.0                0.0             0.0      0.0
4               0.0                0.0             0.0      2.0

   v_intentional_walks  v_strikeouts  v_stolen_bases  v_caught_stealing  \
0                  NaN           6.0             1.0                NaN
1                  NaN           5.0             3.0                NaN
2                  NaN           1.0             0.0                NaN
3                  NaN           1.0             0.0                NaN
4                  NaN           0.0             1.0                NaN

   v_grounded_into_double  v_first_catcher_interference  v_left_on_base  \
0                    -1.0                           NaN             4.0
1                    -1.0                           NaN            12.0
2                    -1.0                           NaN            10.0
3                    -1.0                           NaN             7.0
4                    -1.0                           NaN            12.0

   v_pitchers_used  v_individual_earned_runs  v_team_earned_runs  \
0              1.0                       1.0                 1.0
1              1.0                       6.0                 6.0
2              1.0                       0.0                 0.0
3              1.0                       6.0                 6.0
4              1.0                       2.0                 2.0

   v_wild_pitches  v_balks  v_putouts  v_assists  v_errors  v_passed_balls  \
0             0.0      0.0       27.0        9.0       0.0             3.0
1             1.0      0.0       27.0       13.0      10.0             1.0
2             2.0      0.0       27.0       12.0       8.0             5.0
3             0.0      0.0       27.0       15.0      11.0             6.0
4             0.0      0.0       27.0       12.0       5.0             0.0

   v_double_plays  v_triple_plays  h_at_bats  h_hits  h_doubles  h_triples  \
0             0.0             0.0       31.0     4.0        1.0        0.0
1             2.0             0.0       49.0    14.0        2.0        0.0
2             0.0             0.0       36.0     7.0        2.0        1.0
3             0.0             0.0       43.0    11.0        2.0        0.0
4             1.0             0.0       36.0     9.0        0.0        0.0

   h_homeruns  h_rbi  h_sacrifice_hits  h_sacrifice_flies  h_hit_by_pitch  \
0         0.0    2.0               0.0                0.0             0.0
1         0.0   11.0               0.0                0.0             0.0
2         0.0    2.0               0.0                0.0             0.0
3         0.0    8.0               0.0                0.0             0.0
4         0.0    2.0               0.0                0.0             0.0

   h_walks  h_intentional_walks  h_strikeouts  h_stolen_bases  \
0      1.0                  NaN           0.0             0.0
1     10.0                  NaN           2.0             1.0
2      0.0                  NaN           3.0             5.0
3      4.0                  NaN           2.0             1.0
4      3.0                  NaN           0.0             2.0

   h_caught_stealing  h_grounded_into_double  h_first_catcher_interference  \
0                NaN                    -1.0                           NaN
1                NaN                    -1.0                           NaN
2                NaN                    -1.0                           NaN
3                NaN                    -1.0                           NaN
4                NaN                    -1.0                           NaN

   h_left_on_base  h_pitchers_used  h_individual_earned_runs  \
0             3.0              1.0                       0.0
1            14.0              1.0                       7.0
2             5.0              1.0                       3.0
3             6.0              1.0                       4.0
4             7.0              1.0                       3.0

   h_team_earned_runs  h_wild_pitches  h_balks  h_putouts  h_assists  \
0                 0.0             0.0      0.0       27.0        3.0
1                 7.0             0.0      0.0       27.0       20.0
2                 3.0             1.0      0.0       27.0       12.0
3                 4.0             0.0      0.0       27.0       14.0
4                 3.0             1.0      0.0       27.0       11.0

   h_errors  h_passed_balls  h_double_plays  h_triple_plays hp_umpire_id  \
0       3.0             1.0             1.0             0.0     boakj901
1      10.0             2.0             3.0             0.0     dobsh901
2      13.0             3.0             0.0             0.0     mawnj901
3       7.0             2.0             0.0             0.0     willg901
4       7.0             3.0             0.0             0.0     leroi901

    hp_umpire_name 1b_umpire_id 1b_umpire_name 2b_umpire_id 2b_umpire_name  \
0       John Boake          NaN            NaN          NaN            NaN
1     Henry Dobson          NaN            NaN          NaN            NaN
2       J.H. Manny          NaN            NaN          NaN            NaN
3  Gardner Willard          NaN            NaN          NaN            NaN
4      Isaac Leroy          NaN            NaN          NaN            NaN

  3b_umpire_id 3b_umpire_name lf_umpire_id lf_umpire_name rf_umpire_id  \
0          NaN            NaN          NaN            NaN          NaN
1          NaN            NaN          NaN            NaN          NaN
2          NaN            NaN          NaN            NaN          NaN
3          NaN            NaN          NaN            NaN          NaN
4          NaN            NaN          NaN            NaN          NaN

  rf_umpire_name v_manager_id v_manager_name h_manager_id  h_manager_name  \
0            NaN     paboc101  Charlie Pabor     lennb101     Bill Lennon
1            NaN     wrigh101   Harry Wright     younn801      Nick Young
2            NaN     paboc101  Charlie Pabor     hasts101  Scott Hastings
3            NaN     paboc101  Charlie Pabor     woodj106      Jimmy Wood
4            NaN     wrigh101   Harry Wright     pikel101        Lip Pike

  winning_pitcher_id winning_pitcher_name losing_pitcher_id  \
0           mathb101        Bobby Mathews          prata101
1           spala101          Al Spalding          braia102
2           prata101             Al Pratt          fishc102
3           zettg101      George Zettlein          prata101
4           spala101          Al Spalding          mcmuj101

  losing_pitcher_name saving_pitcher_id saving_pitcher_name  \
0            Al Pratt               NaN                 NaN
1        Asa Brainard               NaN                 NaN
2     Cherokee Fisher               NaN                 NaN
3            Al Pratt               NaN                 NaN
4       John McMullin               NaN                 NaN

  winning_rbi_batter_id winning_rbi_batter_id_name v_starting_pitcher_id  \
0                   NaN                        NaN              prata101
1                   NaN                        NaN              spala101
2                   NaN                        NaN              prata101
3                   NaN                        NaN              prata101
4                   NaN                        NaN              spala101

  v_starting_pitcher_name h_starting_pitcher_id h_starting_pitcher_name  \
0                Al Pratt              mathb101           Bobby Mathews
1             Al Spalding              braia102            Asa Brainard
2                Al Pratt              fishc102         Cherokee Fisher
3                Al Pratt              zettg101         George Zettlein
4             Al Spalding              mcmuj101           John McMullin

  v_player_1_id v_player_1_name  v_player_1_def_pos v_player_2_id  \
0      whitd102    Deacon White                 2.0      kimbg101
1      wrigg101   George Wright                 6.0      barnr102
2      whitd102    Deacon White                 2.0      kimbg101
3      whitd102    Deacon White                 2.0      kimbg101
4      wrigg101   George Wright                 6.0      barnr102

  v_player_2_name  v_player_2_def_pos v_player_3_id v_player_3_name  \
0    Gene Kimball                 4.0      paboc101   Charlie Pabor
1     Ross Barnes                 4.0      birdd102   Dave Birdsall
2    Gene Kimball                 4.0      paboc101   Charlie Pabor
3    Gene Kimball                 4.0      paboc101   Charlie Pabor
4     Ross Barnes                 4.0      birdd102   Dave Birdsall

   v_player_3_def_pos v_player_4_id v_player_4_name  v_player_4_def_pos  \
0                 7.0      allia101     Art Allison                 8.0
1                 9.0      mcvec101       Cal McVey                 2.0
2                 7.0      allia101     Art Allison                 8.0
3                 7.0      allia101     Art Allison                 8.0
4                 9.0      mcvec101       Cal McVey                 2.0

  v_player_5_id v_player_5_name  v_player_5_def_pos v_player_6_id  \
0      white104     Elmer White                 9.0      prata101
1      wrigh101    Harry Wright                 8.0      goulc101
2      white104     Elmer White                 9.0      prata101
3      white104     Elmer White                 9.0      prata101
4      wrigh101    Harry Wright                 8.0      goulc101

  v_player_6_name  v_player_6_def_pos v_player_7_id v_player_7_name  \
0        Al Pratt                 1.0      sutte101     Ezra Sutton
1   Charlie Gould                 3.0      schah101   Harry Schafer
2        Al Pratt                 1.0      sutte101     Ezra Sutton
3        Al Pratt                 1.0      sutte101     Ezra Sutton
4   Charlie Gould                 3.0      schah101   Harry Schafer

   v_player_7_def_pos v_player_8_id v_player_8_name  v_player_8_def_pos  \
0                 5.0      carlj102    Jim Carleton                 3.0
1                 5.0      conef101       Fred Cone                 7.0
2                 5.0      carlj102    Jim Carleton                 3.0
3                 5.0      carlj102    Jim Carleton                 3.0
4                 5.0      conef101       Fred Cone                 7.0

  v_player_9_id v_player_9_name  v_player_9_def_pos h_player_1_id  \
0      bassj101       John Bass                 6.0      selmf101
1      spala101     Al Spalding                 1.0      watef102
2      bassj101       John Bass                 6.0      mackd101
3      bassj101       John Bass                 6.0      mcatb101
4      spala101     Al Spalding                 1.0      flync101

  h_player_1_name  h_player_1_def_pos h_player_2_id h_player_2_name  \
0   Frank Sellman                 5.0      mathb101   Bobby Mathews
1   Fred Waterman                 5.0      forcd101      Davy Force
2      Denny Mack                 3.0      addyb101        Bob Addy
3      Bub McAtee                 3.0      kingm101   Marshall King
4   Clipper Flynn                 9.0      mcgem101    Mike McGeary

   h_player_2_def_pos h_player_3_id  h_player_3_name  h_player_3_def_pos  \
0                 1.0      foraj101        Jim Foran                 3.0
1                 6.0      mille105    Everett Mills                 3.0
2                 4.0      fishc102  Cherokee Fisher                 1.0
3                 8.0      hodec101    Charlie Hodes                 2.0
4                 2.0      yorkt101         Tom York                 8.0

  h_player_4_id  h_player_4_name  h_player_4_def_pos h_player_5_id  \
0      goldw101  Wally Goldsmith                 6.0      lennb101
1      allid101     Doug Allison                 2.0      hallg101
2      hasts101   Scott Hastings                 8.0      ham-r101
3      woodj106       Jimmy Wood                 4.0      simmj101
4      mcmuj101    John McMullin                 1.0      kings101

  h_player_5_name  h_player_5_def_pos h_player_6_id h_player_6_name  \
0     Bill Lennon                 2.0      caret101       Tom Carey
1     George Hall                 7.0      leona101    Andy Leonard
2       Ralph Ham                 5.0      ansoc101       Cap Anson
3     Joe Simmons                 9.0      folet101       Tom Foley
4      Steve King                 7.0      beave101  Edward Beavens

   h_player_6_def_pos h_player_7_id h_player_7_name  h_player_7_def_pos  \
0                 4.0      mince101      Ed Mincher                 7.0
1                 4.0      braia102    Asa Brainard                 1.0
2                 2.0      sagep101      Pony Sager                 6.0
3                 7.0      duffe101        Ed Duffy                 6.0
4                 4.0      bells101    Steve Bellan                 5.0

  h_player_8_id  h_player_8_name  h_player_8_def_pos h_player_9_id  \
0      mcdej101  James McDermott                 8.0      kellb105
1      burrh101  Henry Burroughs                 9.0      berth101
2      birdg101      George Bird                 7.0      stirg101
3      pinke101       Ed Pinkham                 5.0      zettg101
4      pikel101         Lip Pike                 3.0      cravb101

   h_player_9_name  h_player_9_def_pos additional_info acquisition_info
0       Bill Kelly                 9.0             NaN                Y
1  Henry Berthrong                 8.0            HTBF                Y
2       Gat Stires                 9.0             NaN                Y
3  George Zettlein                 1.0             NaN                Y
4      Bill Craver                 6.0            HTBF                Y     park_id                           name  \
0   ALB01                 Riverside Park
1   ALT01                  Columbia Park
2   ANA01       Angel Stadium of Anaheim
3   ARL01              Arlington Stadium
4   ARL02  Rangers Ballpark in Arlington

                                        aka       city state       start  \
0                                       NaN     Albany    NY  09/11/1880
1                                       NaN    Altoona    PA  04/30/1884
2             Edison Field; Anaheim Stadium    Anaheim    CA  04/19/1966
3                                       NaN  Arlington    TX  04/21/1972
4  The Ballpark in Arlington; Ameriquest Fl  Arlington    TX  04/11/1994

          end league                                           notes
0  05/30/1882     NL  TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1  05/31/1884     UA                                             NaN
2         NaN     AL                                             NaN
3  10/03/1993     AL                                             NaN
4         NaN     AL                                             NaN            id     last   first player_debut mgr_debut coach_debut ump_debut
0  aardd001  Aardsma   David   04/06/2004       NaN         NaN       NaN
1  aaroh101    Aaron    Hank   04/13/1954       NaN         NaN       NaN
2  aarot101    Aaron  Tommie   04/10/1962       NaN  04/06/1979       NaN
3  aased001     Aase     Don   07/26/1977       NaN         NaN       NaN
4  abada001     Abad    Andy   09/10/2001       NaN         NaN       NaN   team_id league  start   end       city         nickname franch_id  seq
0     ALT     UA   1884  1884    Altoona  Mountain Cities       ALT    1
1     ARI     NL   1998     0    Arizona     Diamondbacks       ARI    1
2     BFN     NL   1879  1885    Buffalo           Bisons       BFN    1
3     BFP     PL   1890  1890    Buffalo           Bisons       BFP    1
4     BL1    NaN   1872  1874  Baltimore         Canaries       BL1    1
date
number_of_game
day_of_week
v_name
v_league
v_game_number
h_name
h_league
h_game_number
v_score
h_score
length_outs
day_night
completion
forefeit
protest
park_id
attendance
length_minutes
v_line_score
h_line_score
v_at_bats
v_hits
v_doubles
v_triples
v_homeruns
v_rbi
v_sacrifice_hits
v_sacrifice_flies
v_hit_by_pitch
v_walks
v_intentional_walks
v_strikeouts
v_stolen_bases
v_caught_stealing
v_grounded_into_double
v_first_catcher_interference
v_left_on_base
v_pitchers_used
v_individual_earned_runs
v_team_earned_runs
v_wild_pitches
v_balks
v_putouts
v_assists
v_errors
v_passed_balls
v_double_plays
v_triple_plays
h_at_bats
h_hits
h_doubles
h_triples
h_homeruns
h_rbi
h_sacrifice_hits
h_sacrifice_flies
h_hit_by_pitch
h_walks
h_intentional_walks
h_strikeouts
h_stolen_bases
h_caught_stealing
h_grounded_into_double
h_first_catcher_interference
h_left_on_base
h_pitchers_used
h_individual_earned_runs
h_team_earned_runs
h_wild_pitches
h_balks
h_putouts
h_assists
h_errors
h_passed_balls
h_double_plays
h_triple_plays
hp_umpire_id
hp_umpire_name
1b_umpire_id
1b_umpire_name
2b_umpire_id
2b_umpire_name
3b_umpire_id
3b_umpire_name
lf_umpire_id
lf_umpire_name
rf_umpire_id
rf_umpire_name
v_manager_id
v_manager_name
h_manager_id
h_manager_name
winning_pitcher_id
winning_pitcher_name
losing_pitcher_id
losing_pitcher_name
saving_pitcher_id
saving_pitcher_name
winning_rbi_batter_id
winning_rbi_batter_id_name
v_starting_pitcher_id
v_starting_pitcher_name
h_starting_pitcher_id
h_starting_pitcher_name
v_player_1_id
v_player_1_name
v_player_1_def_pos
v_player_2_id
v_player_2_name
v_player_2_def_pos
v_player_3_id
v_player_3_name
v_player_3_def_pos
v_player_4_id
v_player_4_name
v_player_4_def_pos
v_player_5_id
v_player_5_name
v_player_5_def_pos
v_player_6_id
v_player_6_name
v_player_6_def_pos
v_player_7_id
v_player_7_name
v_player_7_def_pos
v_player_8_id
v_player_8_name
v_player_8_def_pos
v_player_9_id
v_player_9_name
v_player_9_def_pos
h_player_1_id
h_player_1_name
h_player_1_def_pos
h_player_2_id
h_player_2_name
h_player_2_def_pos
h_player_3_id
h_player_3_name
h_player_3_def_pos
h_player_4_id
h_player_4_name
h_player_4_def_pos
h_player_5_id
h_player_5_name
h_player_5_def_pos
h_player_6_id
h_player_6_name
h_player_6_def_pos
h_player_7_id
h_player_7_name
h_player_7_def_pos
h_player_8_id

game_log.csv contains 171907 rows and 161 columns. It summaries each game's information. 
park_codes.csv contains 252 rows and 9 columns. It includes each field's information.
person_codes.csv contains 150 rows and 8 columns. It records each player's information.

Defensive position number represents nine fielding positions in baseball:
1 (pitcher), 2 (catcher), 3 (first baseman), 4 (second baseman), 5 (third baseman), 6 (shortstop), 7 (left fielder), 8 (center fielder), and 9 (right fielder).
NL(National League) and AL(American League) are two current major leagues. 
AA and UA (Union Association) are early defunct baseball leagues that are officially considered major leagues, and their statistics and records are included with those of the two current major leagues.

In [55]:
game_log.to_sql('game_log',conn,index=False,if_exists='replace')
park_codes.to_sql('park_codes',conn,index=False,if_exists='replace')
person_codes.to_sql('person_codes',conn,index=False,if_exists='replace')
team_codes.to_sql('team_codes',conn,index=False,if_exists='replace')

c1 = """
ALTER TABLE game_log
ADD COLUMN game_id text
"""
c2 = """
UPDATE game_log
SET game_id = h_name || date || number_of_game;
"""

run_command(c1)
run_command(c2)
run_query("select game_id from game_log limit 10")

        game_id
0  FW1187105040
1  WS3187105050
2  RC1187105060
3  CH1187105080
4  TRO187105090
5  CL1187105110
6  CL1187105130
7  FW1187105130
8  FW1187105150
9  BS1187105160

we should normalize our data by reducing repetition and redundant data. 
1. all the baseball statistics (e.g.,score, at_bats, home_runs) form another table with a new column indicating home or visting team and use game_id and team_id as foreign keys.
2. all the persons's name can be referenced by id in a table.
3. use a table to categorize each person's role in each game, e.g., palyer, manager, umpire).
4. the persons table and role categorization table are connected to game through another table with person_id, apperance_type_id, and game_id as foreign keys.

Below is the schema for the database.
![my_image](files/download.png)

In [4]:
c3 = """
CREATE TABLE IF NOT EXISTS person 
    (person_id TEXT PRIMARY KEY,
     first_name TEXT,
     last_name TEXT);
"""
c4 = """     
INSERT INTO person
SELECT id, first, last FROM person_codes;
"""
run_command(c3)
run_command(c4)

run_query("SELECT * FROM person LIMIT 5")

  person_id first_name last_name
0  aardd001      David   Aardsma
1  aaroh101       Hank     Aaron
2  aarot101     Tommie     Aaron
3  aased001        Don      Aase
4  abada001       Andy      Abad

In [7]:
c5 = """
CREATE TABLE IF NOT EXISTS park
    (park_id TEXT PRIMARY KEY,
     name TEXT,
     nickname TEXT,
     city TEXT,
     state TEXT,
     notes TEXT
     );
"""
c6 = """
INSERT INTO park
SELECT park_id, name, aka, city, state, notes FROM park_codes;
"""
run_command(c5)
run_command(c6)
run_query("SELECT * FROM park LIMIT 5")

,park_id,name,nickname,city,state,notes
0,ALB01,Riverside Park,None,Albany,NY,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,None,Altoona,PA,None
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,None
3,ARL01,Arlington Stadium,None,Arlington,TX,None
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,None

In [9]:
c7 = """
CREATE TABLE IF NOT EXISTS league
    (league_id TEXT PRIMARY KEY,
     name TEXT
     );
"""
c8 = """
INSERT INTO league
VALUES 
    ('UA', "Union Association"),
    ('NL', "National League"),
    ('PL', "PLayers' League"),
    ('AA', "Double-A"),
    ('AL', "American League"),
    ('FL', "Florida State League");
"""
run_command(c7)
run_command(c8)
run_query("SELECT * FROM league")

  league_id                  name
0        UA     Union Association
1        NL       National League
2        PL       PLayers' League
3        AA              Double-A
4        AL       American League
5        FL  Florida State League

In [56]:
at = pd.read_csv('appearance_type.csv')
at.to_sql('at', conn,index=False,if_exists='replace')

c9 = """
CREATE TABLE IF NOT EXISTS appearance_type
    (appearance_type_id text primary key,
     name text,
     category text
     );
"""

c10 = """
INSERT INTO appearance_type
SELECT * FROM at"""

run_command(c9)
run_command(c10)
run_query("select * from appearance_type")

   appearance_type_id                name category
0                  O1            Batter 1  offense
1                  O2            Batter 2  offense
2                  O3            Batter 3  offense
3                  O4            Batter 4  offense
4                  O5            Batter 5  offense
5                  O6            Batter 6  offense
6                  O7            Batter 7  offense
7                  O8            Batter 8  offense
8                  O9            Batter 9  offense
9                  D1             Pitcher  defense
10                 D2             Catcher  defense
11                 D3            1st Base  defense
12                 D4            2nd Base  defense
13                 D5            3rd Base  defense
14                 D6           Shortstop  defense
15                 D7          Left Field  defense
16                 D8        Center Field  defense
17                 D9         Right Field  defense
18                D10    Unknown Position  defense
19                UHP          Home Plate   umpire
20                U1B          First Base   umpire
21                U2B         Second Base   umpire
22                U3B          Third Base   umpire
23                ULF          Left Field   umpire
24                URF         Right Field   umpire
25                 MM             Manager  manager
26                AWP     Winning Pitcher    award
27                ALP      Losing Pitcher    award
28                ASP      Saving Pitcher    award
29                AWB  Winning RBI Batter    award
30                PSP    Starting Pitcher  pitcher

In [28]:
c11 = """
CREATE TABLE IF NOT EXISTS team
 (team_id TEXT PRIMARY KEY,
  league_id TEXT,
  city TEXT,
  nickname TEXT,
  franch_id TEXT,
  FOREIGN KEY (league_id) REFERENCES league(league_id)
  );
"""
c12 = """
INSERT INTO team
SELECT team_id, league, city, nickname, franch_id FROM team_codes
GROUP BY team_id
"""

run_command(c11)
run_command(c12)
run_query("select * from team limit 5")

  team_id league_id       city         nickname franch_id
0     ALT        UA    Altoona  Mountain Cities       ALT
1     ANA        AL    Anaheim           Angels       LAA
2     ARI        NL    Arizona     Diamondbacks       ARI
3     ATL        NL    Atlanta           Braves       BS1
4     BAL        AL  Baltimore          Orioles       MLA

In [37]:
c13 = """
CREATE TABLE IF NOT EXISTS game
 (game_id text primary key,
  date num,
  number_of_game int,
  park_id text,
  length_outs int,
  day_night int,
  completion text,
  forfeit text,
  protest text,
  attendance int,
  length_minutes num,
  additional_info text,
  acquisition_info text,
  foreign key (park_id) references park(park_id)
  );
"""
c14 = """
INSERT INTO game
SELECT game_id, date, number_of_game, park_id, length_outs, day_night,
    completion, forefeit, protest, attendance, length_minutes, additional_info, 
    acquisition_info FROM game_log;
"""

run_command(c13)
run_command(c14)
run_query("SELECT * FROM game LIMIT 5")

,game_id,date,number_of_game,park_id,length_outs,day_night,completion,forfeit,protest,attendance,length_minutes,additional_info,acquisition_info
0,FW1187105040,18710504,0,FOR01,54,D,None,None,None,200,120,None,Y
1,WS3187105050,18710505,0,WAS01,54,D,None,None,None,5000,145,HTBF,Y
2,RC1187105060,18710506,0,RCK01,54,D,None,None,None,1000,140,None,Y
3,CH1187105080,18710508,0,CHI01,54,D,None,None,None,5000,150,None,Y
4,TRO187105090,18710509,0,TRO01,54,D,None,None,None,3250,145,HTBF,Y

In [39]:
run_query("""select sql from sqlite_master
          where name='game_log'
          and type='table';""")

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      sql
0  CREATE TABLE "game_log" (\n"date" INTEGER,\n  "number_of_game" INTEGER,\n  "day_of_week" TEXT,\n  "v_name" TEXT,\n  "v_league" TEXT,\n  "v_game_number" INTEGER,\n  "h_name" TEXT,\n  "h_league" TEXT,\n  "h_game_number" INTEGER,\n  "v_score" INTEGER,\n  "h_score" INTEGER,\n  "length_outs" REAL,\n  "day_night" TEXT,\n  "completion" TEXT,\n  "forefeit" TEXT,\n  "protest" TEXT,\n  "park_id" TEXT,\n  "attendance" REAL,\n  "length_minutes" REAL,\n  "v_line_score" TEXT,\n  "h_line_score" TEXT,\n  "v_at_bats" REAL,\n  "v_hits" REAL,\n  "v_doubles" REAL,\n  "v_triples" REAL,\n  "v_homeruns" REAL,\n  "v_rbi" REAL,\n  "v_sacrifice_hits" REAL,\n  "v_sacrifice_flies" REAL,\n  "v_hit_by_pitch" REAL,\n  "v_walks" REAL,\n  "v_intentional_walks" REAL,\n  "v_strikeouts" REAL,\n  "v_stolen_bases" REAL,\n  "v_caught_stealing" REAL,\n  "v_grounded_into_double" REAL,\n  "v_first_catcher_interference" REAL,\n  "v_left_on_base" REAL,\n  "v_pitchers_used" REAL,\n  "v_individual_earned_runs" REAL,\n  "v_team_earned_runs" REAL,\n  "v_wild_pitches" REAL,\n  "v_balks" REAL,\n  "v_putouts" REAL,\n  "v_assists" REAL,\n  "v_errors" REAL,\n  "v_passed_balls" REAL,\n  "v_double_plays" REAL,\n  "v_triple_plays" REAL,\n  "h_at_bats" REAL,\n  "h_hits" REAL,\n  "h_doubles" REAL,\n  "h_triples" REAL,\n  "h_homeruns" REAL,\n  "h_rbi" REAL,\n  "h_sacrifice_hits" REAL,\n  "h_sacrifice_flies" REAL,\n  "h_hit_by_pitch" REAL,\n  "h_walks" REAL,\n  "h_intentional_walks" REAL,\n  "h_strikeouts" REAL,\n  "h_stolen_bases" REAL,\n  "h_caught_stealing" REAL,\n  "h_grounded_into_double" REAL,\n  "h_first_catcher_interference" REAL,\n  "h_left_on_base" REAL,\n  "h_pitchers_used" REAL,\n  "h_individual_earned_runs" REAL,\n  "h_team_earned_runs" REAL,\n  "h_wild_pitches" REAL,\n  "h_balks" REAL,\n  "h_putouts" REAL,\n  "h_assists" REAL,\n  "h_errors" REAL,\n  "h_passed_balls" REAL,\n  "h_double_plays" REAL,\n  "h_triple_plays" REAL,\n  "hp_umpire_id" TEXT,\n  "hp_umpire_name" TEXT,\n  "1b_umpire_id" TEXT,\n  "1b_umpire_name" TEXT,\n  "2b_umpire_id" TEXT,\n  "2b_umpire_name" TEXT,\n  "3b_umpire_id" TEXT,\n  "3b_umpire_name" TEXT,\n  "lf_umpire_id" TEXT,\n  "lf_umpire_name" TEXT,\n  "rf_umpire_id" TEXT,\n  "rf_umpire_name" TEXT,\n  "v_manager_id" TEXT,\n  "v_manager_name" TEXT,\n  "h_manager_id" TEXT,\n  "h_manager_name" TEXT,\n  "winning_pitcher_id" TEXT,\n  "winning_pitcher_name" TEXT,\n  "losing_pitcher_id" TEXT,\n  "losing_pitcher_name" TEXT,\n  "saving_pitcher_id" TEXT,\n  "saving_pitcher_name" TEXT,\n  "winning_rbi_batter_id" TEXT,\n  "winning_rbi_batter_id_name" TEXT,\n  "v_starting_pitcher_id" TEXT,\n  "v_starting_pitcher_name" TEXT,\n  "h_starting_pitcher_id" TEXT,\n  "h_starting_pitcher_name" TEXT,\n  "v_player_1_id" TEXT,\n  "v_player_1_name" TEXT,\n  "v_player_1_def_pos" REAL,\n  "v_player_2_id" TEXT,\n  "v_player_2_name" TEXT,\n  "v_player_2_def_pos" REAL,\n  "v_player_3_id" TEXT,\n  "v_player_3_name" TEXT,\n  "v_player_3_def_pos" REAL,\n  "v_player_4_id" TEXT,\n  "v_player_4_name" TEXT,\n  "v_player_4_def_pos" REAL,\n  "v_player_5_id" TEXT,\n  "v_player_5_name" TEXT,\n  "v_player_5_def_pos" REAL,\n  "v_player_6_id" TEXT,\n  "v_player_6_name" TEXT,\n  "v_player_6_def_pos" REAL,\n  "v_player_7_id" TEXT,\n  "v_player_7_name" TEXT,\n  "v_player_7_def_pos" REAL,\n  "v_player_8_id" TEXT,\n  "v_player_8_name" TEXT,\n  "v_player_8_def_pos" REAL,\n  "v_player_9_id" TEXT,\n  "v_player_9_name" TEXT,\n  "v_player_9_def_pos" REAL,\n  "h_player_1_id" TEXT,\n  "h_player_1_name" TEXT,\n  "h_player_1_def_pos" REAL,\n  "h_player_2_id" TEXT,\n  "h_player_2_name" TEXT,\n  "h_player_2_def_pos" REAL,\n  "h_player_3_id" TEXT,\n  "h_player_3_name" TEXT,\n  "h_player_3_def_pos" REAL,\n  "h_player_4_id" TEXT,\n  "h_player_4_name" TEXT,\n  "h_player_4_def_pos" REAL,\n  "h_player_5_id" TEXT,\n  "h_player_5_name" TEXT,\n  "h_player_5_def_pos" REAL,\n  "h_player_6_id" TEXT,\n  "h_player_6_name" TEXT,\n  "h_player_6_def_pos" REAL,\n  "h_player_7_id" TEXT,\n  "h_player_7_name" TEXT,\n  "h_player_7_def_pos" REAL,\n  "h_player_8_id" TEXT,\n  "h_player_8_name" TEXT,\n  "h_player_8_def_pos" REAL,\n  "h_player_9_id" TEXT,\n  "h_player_9_name" TEXT,\n  "h_player_9_def_pos" REAL,\n  "additional_info" TEXT,\n  "acquisition_info" TEXT\n, game_id text)

In [29]:
c15 = """
CREATE TABLE game_stats 
 (team_id TEXT, game_id TEXT,
  home INT, league_id TEXT,
  score INTEGER,line_score TEXT,
  at_bats REAL, hits REAL,
  doubles REAL,triples REAL,
  homeruns REAL, rbi REAL,
  sacrifice_hits REAL,sacrifice_flies REAL,
  hit_by_pitch REAL,walks REAL,
  intentional_walks REAL,strikeouts REAL,
  stolen_bases REAL,caught_stealing REAL,
  grounded_into_double REAL,first_catcher_interference REAL,
  left_on_base REAL,pitchers_used REAL,
  individual_earned_runs REAL,team_earned_runs REAL,
  wild_pitches REAL,balks REAL,putouts REAL,
  assists REAL,errors REAL,passed_balls REAL,
  double_plays REAL,triple_plays REAL,
  PRIMARY KEY (team_id, game_id),
  FOREIGN KEY (league_id) REFERENCES league(league_id),
  FOREIGN KEY (team_id) REFERENCES team(team_id),
  FOREIGN KEY (game_id) REFERENCES game(game_id)
);
"""
c16 = """
INSERT INTO game_stats
    SELECT
        h_name,
        game_id,
        1 AS home,
        h_league,
        h_score,
        h_line_score,
        h_at_bats, h_hits, h_doubles, 
        h_triples, h_homeruns, h_rbi, 
        h_sacrifice_hits, h_sacrifice_flies, h_hit_by_pitch, 
        h_walks, h_intentional_walks, h_strikeouts, 
        h_stolen_bases, h_caught_stealing, 
        h_grounded_into_double, h_first_catcher_interference, 
        h_left_on_base, h_pitchers_used, 
        h_individual_earned_runs, h_team_earned_runs, 
        h_wild_pitches, h_balks, h_putouts, h_assists, 
        h_errors, h_passed_balls, h_double_plays, h_triple_plays
    FROM game_log
UNION
    SELECT
        v_name,
        game_id,
        0 AS home,
        v_league,
        v_score,
        v_line_score,
        v_at_bats, v_hits, v_doubles, 
        v_triples, v_homeruns, v_rbi, 
        v_sacrifice_hits, v_sacrifice_flies, v_hit_by_pitch, 
        v_walks, v_intentional_walks, v_strikeouts, 
        v_stolen_bases, v_caught_stealing, 
        v_grounded_into_double, v_first_catcher_interference, 
        v_left_on_base, v_pitchers_used, 
        v_individual_earned_runs, v_team_earned_runs, 
        v_wild_pitches, v_balks, v_putouts, v_assists, 
        v_errors, v_passed_balls, v_double_plays, v_triple_plays
    FROM game_log;
"""
run_command(c15)
run_command(c16)
run_query("SELECT * FROM game_stats limit 5")

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitchers_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,ALT,ALT188404300,1,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,ALT,ALT188405020,1,UA,3,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,ALT,ALT188405030,1,UA,5,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,ALT,ALT188405050,1,UA,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,ALT,ALT188405100,1,UA,9,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [5]:
c17 = """
CREATE TABLE IF NOT EXISTS person_in_game
 (appearance_id INTEGER PRIMARY KEY autoincrement,
  person_id text,
  team_id text,
  game_id text,
  appearance_type_id text,
  foreign key (person_id) references person(person_id),
  foreign key (team_id) references team(team_id),
  foreign key (game_id) references game(game_id),
  foreign key (appearance_type_id) references appearance_type(appearance_type_id))"""
run_command(c17)

In [6]:
c18 ="""
INSERT INTO person_in_game (
    game_id,
    team_id,
    person_id,
    appearance_type_id
)
    SELECT 
        game_id,
        v_name,
        v_manager_id,
        "MM"
    FROM game_log
    WHERE v_manager_id IS NOT NULL
UNION
    SELECT
        game_id,
        h_name,
        h_manager_id,
        "MM"
    FROM game_log
    WHERE h_manager_id IS NOT NULL
UNION
    SELECT 
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        winning_pitcher_id,
        "AWP"
    FROM game_log
    WHERE winning_pitcher_id IS NOT NULL
UNION
    SELECT 
        game_id,
        CASE
            WHEN h_score > v_score THEN v_name
            ELSE h_name
            END,
        losing_pitcher_id,
        "ALP"
    FROM game_log
    WHERE losing_pitcher_id IS NOT NULL
UNION
    SELECT 
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        winning_rbi_batter_id,
        "AWB"
    FROM game_log
    WHERE winning_rbi_batter_id IS NOT NULL
UNION
    SELECT 
        game_id,
        CASE
            WHEN h_score > v_score THEN h_name
            ELSE v_name
            END,
        saving_pitcher_id,
        "ASP"
    FROM game_log
    WHERE saving_pitcher_id IS NOT NULL
UNION
    SELECT 
        game_id,
        h_name,
        h_starting_pitcher_id,
        "PSP"
    FROM game_log
    WHERE h_starting_pitcher_id IS NOT NULL
UNION
    SELECT 
        game_id,
        v_name,
        v_starting_pitcher_id,
        "PSP"
    FROM game_log
    WHERE v_starting_pitcher_id IS NOT NULL;
"""
run_command(c18)

In [7]:
template = """
INSERT INTO person_in_game (
    game_id,
    team_id,
    person_id,
    appearance_type_id
) 
    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "O{num}"
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL

UNION
    SELECT
        game_id,
        {hv}_name,
        {hv}_player_{num}_id,
        "D" || CAST({hv}_player_{num}_def_pos AS INT)
    FROM game_log
    WHERE {hv}_player_{num}_id IS NOT NULL;
"""


for hv in ["h","v"]:
    for num in range(1,10):
        query_vars = {
            "hv": hv,
            "num": num
        }
        run_command(template.format(**query_vars))

tem2 = """
INSERT INTO person_in_game (
    game_id,
    team_id,
    person_id,
    appearance_type_id
)  
    SELECT
        game_id,
        NULL,
        [{tag1}_umpire_id],
        "U{tag2}"
    FROM game_log
    WHERE [{tag1}_umpire_id] IS NOT NULL
"""
for tag in ["HP","1B","2B","3B","LF","RF"]:
    query_vars = {
            "tag1": tag.lower(),
            "tag2": tag
        }
    run_command(tem2.format(**query_vars))

In [10]:
run_query('select * from person_in_game limit 10')

   appearance_id person_id team_id       game_id appearance_type_id
0              1  curte801     ALT  ALT188404300                 MM
1              2  murpj104     ALT  ALT188404300                PSP
2              3  hodnc101     SLU  ALT188404300                PSP
3              4  sullt101     SLU  ALT188404300                 MM
4              5  curte801     ALT  ALT188405020                 MM
5              6  learj102     ALT  ALT188405020                PSP
6              7  sullt101     SLU  ALT188405020                 MM
7              8  taylb103     SLU  ALT188405020                PSP
8              9  connj102     ALT  ALT188405030                PSP
9             10  curte801     ALT  ALT188405030                 MM

In [ ]:
run_command('drop table game_log')
run_command('drop table person_codes')
run_command('drop table team_codes')
run_command('drop table park_codes')
run_command('drop table at')

In [12]:
show_tables()

              name   type
0             park  table
1           league  table
2             game  table
3             team  table
4       game_stats  table
5  appearance_type  table
6           person  table
7   person_in_game  table
8  sqlite_sequence  table